<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <title>Proyecto Primer Parcial PW</title>


  <style type="text/css">
    #b {
      background-color: slategray
    }

    #cardg {
      height: 300px;
      width: 900px;
      top: 1em;
      left: 10%;


    }

    #card {
      height: 200px;
      top: -12em;
      width: 380px;
      left: 68%;

    }

    #title {
      height: 200px;
      top: 1em;
      width: 380px;
      left: 2%;

    }

    #cont1 {
      height: 300px;
      width: 370px;
      top: -12.5em;
      left: 1%;


    }

    #t1 {
      height: 200px;
      width: 250px;
      top: 3em;
      left: 30%;
      background-color: rgba(255, 255, 0, 0.623);

    }



    #cont2 {
      height: 350px;
      width: 300px;
      top: -31.3em;
      left: 28%;


    }

    #t2 {
      height: 40px;
      width: 400px;
      top: 3em;
      left: 60%;
      background-color: rgba(19, 196, 19, 0.562)
    }

    #cont3 {
      height: 350px;
      width: 300px;
      top: -53.2em;
      left: 64%;


    }

    #t3 {
      height: 50px;
      width: 400px;
      top: 3em;
      left: -2%;
      background-color: rgba(19, 196, 19, 0.562)
    }
  </style>


</head>








<body>

  <!--BARRA NAVEGACION -->
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand"></a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
  <!--END BARRA NAVEGACION -->


  <section class="jumbotron  text-left">
    <div class="col-md-8" id="cardg">
      <h3>Proyecto Primer Parcial Plataformas Web</h3>
      <p class="lead text-muted">Crear una aplicación en NodeJS que permita leer los datos de las
        Suscripciones a telefonía celular móvil, publicadas por el Banco
        Mundial y publicar las estadísticas de un determinado país en un
        año específico.
        .</p>
      <p>
        <a href="#title" class="btn btn-primary my-2">Estadísticas</a>
         <a href="#plotlyChart" class="btn btn-secondary my-2">Gráficas</a> 
      </p>
    </div>
  </section>
  {{!-- /////////////////////////botones de graficas////////////////////// --}}
  <input type="button" value="Suscripciones TOP 5" class="btn btn-primary my-2" onclick="genera_grafica()">
  <input type="button" value="Suscripciones Mayores" class="btn btn-primary my-2" onclick="genera_grafica2()">
  <input type="button" value="Suscripciones Menores" class="btn btn-primary my-2" onclick="genera_grafica3()">
   {{!-- ///////////////////////////////////////////////////////////////// --}}

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <div id="plotlyChart"></div>

  <div class="col-md-8" id="title">
    <h1>Datos Estadísticos</h1>
  </div>




  <!--TARJETA -->
  <div></div>

  <div class="col-md-4" id="card">


    <div class="card border-primary ">
      {{#each top.MediaxAnio}}
      {{!-- {{#each top..MediaxAnio}}  --}}
      <div class="card-header">{{anio}} media mundial : {{media}} </div>
      {{/each}}
      {{#each top.Menor_Mayor}}
      <div class="card-body text-primary">
        <h5 class="card-title">{{pais}}</h5>
        {{!-- {{/each}} --}}
        <p class="card-text">El valor de las suscripciones del pais {{pais }} : {{medpais}} es {{estado}}.</p>

        {{/each}}

      </div>

    </div>
  </div>


  <!--END TARJETA -->


  <!-- Content here_____________________1_________________-->
  <div class="col-md-4" id="cont1">


    <!--tabbla -->
    <table class="table" id="t1">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Pais</th>
          <th scope="col">Suscripciones TOP 5</th>
        </tr>
      </thead>
      <tbody>
        {{#each top.top5}}
        <tr>

          <td>{{codigo}}</td>
          <td>{{valor}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <!-- end tabal -->
  </div>

  <!-- end content -->




  <!-- Content here____________________________2____________________- -->
  {{!-- <div class="container" id="cont2"> --}}
  <div class="col-md-4" id="cont2">
    <!--tabbla -->
    <table class="table" id="t2">
      <thead class="thead-dark">
        <tr class="table">

          <th scope="col">Pais</th>
          <th scope="col">Suscripciones Mayores</th>
        </tr>
      </thead>
      <tbody>
        {{#each top.Mayores}}
        <tr>
          <td>{{codigo}}</td>
          <td>{{valor}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <!-- end tabal -->


  </div>
  <!-- end content -->


  <!-- Content here___________________3__________________ -->

  <div class="col-md-4" id="cont3">
    <!--tabbla -->

    <table class="table" id="t3">
      <thead class="thead-dark">
        <tr>

          <th scope="col">Pais</th>
          <th scope="col">Suscripciones Menores</th>
        </tr>
      </thead>
      <tbody>
        {{#each top.Menores}}
        <tr>
          <td>{{codigo}}</td>
          <td>{{valor}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <!-- end tabal -->
  </div>
  <!-- end content -->


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

  
  <script>
 var rows = document.getElementById("t1").rows;
    //console.log(rows);
    var i;
    var j;
    var titulos = [];
    var valores = [];

    for (i = 0; i < rows.length; i++) {
      for (j = 0; j < rows[i].cells.length; j++) {
        if (j == 0) {
          titulos.push(rows[i].cells[j].innerHTML);
        } else {
          valores.push(rows[i].cells[j].innerHTML);
        }
      }
    }
    console.log("titulos");
    console.log(titulos);
    console.log("valores");
    console.log(valores);
    var data = [

      {
        x: titulos,
        y: valores,
        type: 'pai'
      }
    ];

    Plotly.newPlot('plotlyChart', data);


function genera_grafica() {
       var rows = document.getElementById("t1").rows;
    //console.log(rows);
    var i;
    var j;
    var titulos = [];
    var valores = [];

    for (i = 0; i < rows.length; i++) {
      for (j = 0; j < rows[i].cells.length; j++) {
        if (j == 0) {
          titulos.push(rows[i].cells[j].innerHTML);
        } else {
          valores.push(rows[i].cells[j].innerHTML);
        }
      }
    }
    console.log("titulos");
    console.log(titulos);
    console.log("valores");
    console.log(valores);
    var data = [

      {
        x: titulos,
        y: valores,
        type: 'pai'
      }
    ];

    Plotly.newPlot('plotlyChart', data);
  

}


    function genera_grafica2() {
       var rows = document.getElementById("t2").rows;
    //console.log(rows);
    var i;
    var j;
    var titulos = [];
    var valores = [];

    for (i = 0; i < rows.length; i++) {
      for (j = 0; j < rows[i].cells.length; j++) {
        if (j == 0) {
          titulos.push(rows[i].cells[j].innerHTML);
        } else {
          valores.push(rows[i].cells[j].innerHTML);
        }
      }
    }
    console.log("titulos");
    console.log(titulos);
    console.log("valores");
    console.log(valores);
    var data = [

      {
        x: titulos,
        y: valores,
        type: 'pai'
      }
    ];

    Plotly.newPlot('plotlyChart', data);
  

}
function genera_grafica3() {
       var rows = document.getElementById("t3").rows;
    //console.log(rows);
    var i;
    var j;
    var titulos = [];
    var valores = [];

    for (i = 0; i < rows.length; i++) {
      for (j = 0; j < rows[i].cells.length; j++) {
        if (j == 0) {
          titulos.push(rows[i].cells[j].innerHTML);
        } else {
          valores.push(rows[i].cells[j].innerHTML);
        }
      }
    }
    console.log("titulos");
    console.log(titulos);
    console.log("valores");
    console.log(valores);
    var data = [

      {
        x: titulos,
        y: valores,
        type: 'pai'
      }
    ];

    Plotly.newPlot('plotlyChart', data);
  

}
    
  </script>
</body>
</html>
